@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto, sans-serif;
    background-color: #fffcfa;
    padding: 0;
    margin: 0;
}


/*------------------ Colors*/

.text-brown {
    color: #67322B;
}

.text-dark-green {
    color: #346940;
}

.text-light-green {
    color: #A5C299;
}

.text-white {
    color: #FFFCfA;
}

.text-black-black {
    color: #2B2B2B;
}

.bg-brown {
    background-color: #67322B;
}

.bg-dark-green {
    background-color: #346940;
}

.bg-light-green {
    background-color: #A5C299;
}

.bg-white {
    background-color: #FFFCfA;
}

.bg-black-black {
    background-color: #2B2B2B;
}



/*------------------ Heading*/

.navbar {
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5px;
}

.navbar-brand {
    font-weight: 500;
    font-size: 24px;
    transition: 0.3s color;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.nav-link.active {
    text-decoration: underline;
    text-decoration-color: #346940;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}

.nav-link:hover {
    color: #346940;
    border: 1px dashed #67322B;
    border-radius: 12px;
}

.nav-link.active:hover {
    border: none;
}

.navbar-brand:hover {
    color: #346940;
}

/*------------------ Hero Image*/

.hero-img {
    background: url(../img/woman-drinking-coffee-with-laptop-and-dog.jpg) no-repeat 25% 50%;
    background-size: cover;
    width: 100%;
    height: 80vh;

    animation-name: hero-zoom;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}

/*------------------ Why Section*/
.container-why {
    margin: 40px 5px 40px 5px;
}

.why-title {
    margin-bottom: 30px;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}


.why-subtitle {
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.why-subtitle {
    text-align: center;
    font-weight: 300;
}

.why-subtitle i {
    margin-left: 7px;
}

.why-content {
    text-align: center;
    color: #A5C299;
}

/*------------------ Meet the team*/

.container-meet {
    padding-bottom: 70px;
}

.meet-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 325px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    border-radius: 10px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    color: #346940;
}

/* Style the back side */
.flip-card-back {
    background-color: #67322B;
    color: #FFFCfA;
    transform: rotateY(180deg);
}

.flip-card img {
    width: inherit;
    height: inherit;
    overflow: hidden;
    border-radius: 5px;
}

.flip-card-name {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: #FFFCfA ;
    text-decoration-thickness: 4px;
}
.flip-card-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
}
 .flip-card-back-img {
    background-size:contain;
    height: 160px;
    width: 160px;
 }

 /*------------------ footer*/


 .footer-icons a {
    text-decoration: none;
}

.footer-icons i {
    display: flex;
    justify-content: center;
    margin: 25px;
    font-size: 45px;
    color:#A5C299;
}

.footer-info p {
    display: flex;
    justify-content: center;
    font-size: 16px;
} 

.footer-info p strong {
    text-transform: uppercase;
    margin-right: 4px;
    letter-spacing: 1px;
}



/*------------------ Aniamtions*/
@keyframes hero-zoom {
    from {
        transform: scale(1.05);
    }

    to {
        transform: scale(1);
    }
}